<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="ja">
    <meta charset="UTF-8">
    <title>サンプル</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
</head>

<body>
	<!-- コンテナ開始 -->
	<div class="container">
	
		<!-- ヘッダー部(navbar) -->
		<div class="row">
    		<nav class="navbar navbar-inverse navbar-fixed-top">
    	
           		<div class="navbar-header">
           			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
      					<span class="sr-only">メニュー</span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
    				</button>
       				<a th:href="@{/shopping}" class="navbar-brand" style="font-size: 28px;">ショッピングサイト</a>
           			<span class="navbar-brand" style="font-size: 10px;">　ログイン中 ようこそ、<span sec:authentication="principal.account.name">duke</span> さん！</span>
       			</div>
       		
       			<div id="gnavi" class="collapse navbar-collapse">
       				<ul class="nav navbar-nav">
       					<li class="active">
           					<form class="navbar-form" th:action="@{/shopping/goToTop}" method="get">
           					<input type="submit" class="btn btn-default btn-xl" value="TOPへ">
           					</form>
           				</li>
           				<li>
           					<form class="navbar-form" th:action="@{/shopping/cart}" method="get">
           					<input type="submit" class="btn btn-default btn-xl" value="カート">
           					</form>
           				</li>
           				<li>
      						<form class="navbar-form" th:action="@{/logout}" method="post">
               				<input type="submit" class="btn btn-danger btn-xl" value="ログアウト">
           					</form>
           				</li>
       				</ul>
       			</div>
       		
   			</nav>
   		<!-- ヘッダー部(navbar)終了 -->
   		</div>
   		
   		
   		<!-- メインカラム開始 -->
		<div class="row" style="padding:70px 0 0 0">
		
			<!-- メイン開始 -->
			<div id="contents" class="col-md-12">
				<div class="page-header" style="margin-top:-15px;padding-bottom:0px;">
					<h1><small>お客様情報編集</small></h1>
				</div>
				
				<!-- ここから入力フォーム -->
				<form class="form-horizontal" th:action="@{/shopping/accountedit}" th:object="${accountEditForm}" method="post">
					<fieldset>
					<div th:if="${param.error}" class="alert alert-danger">
						入力した情報が正しくありません
					</div>
		
					<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'">
                    	<label for="name" class="col-sm-2 control-label">名前　　</label>
                    	
                    	<div class="col-sm-10">
                        	<input type="text" id="name" name="name" th:field="*{name}"
                               class="form-control" value="name" placeholder="name" required="required" autofocus="autofocus">
                        	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                              class="help-block">名前の入力に不備があります</span>
                    	</div>
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('address')}? 'has-error has-feedback'">
                    	<label for="address" class="col-sm-2 control-label">住所　　</label>
                    	
                    	<div class="col-sm-10">
                        	<input type="text" id="address" name="address" th:field="*{address}"
                               class="form-control" value="address" placeholder="address" required="required" autofocus="autofocus">
                        	<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                              class="help-block">住所の入力に不備があります</span>
                    	</div>
					</div>
					
					<p><input class="btn btn-lg btn-primary btn-block" type="submit" value="編集"></p>
				
					</fieldset>
				<!-- ここまで入力フォーム -->
				</form>

			<!-- メイン終了 -->
			</div>
			
		<!-- メインカラム終了 -->
		</div>
	
	<!-- コンテナ終了 -->
	</div>

	<hr class="clear">
	<!-- footer -->
	<div id="footer" class="text-center">copy left everything free.</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>