<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="ja">
    <meta charset="UTF-8">
    <title>サンプル</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
</head>

<body>
	<!-- コンテナ開始 -->
	<div class="container">
	
		<!-- ヘッダー部(navbar) -->
		<div class="row">
    		<nav class="navbar navbar-inverse navbar-fixed-top">
    	
           		<div class="navbar-header">
           			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
      					<span class="sr-only">メニュー</span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
    				</button>
       				<a th:href="@{/shopping}" class="navbar-brand" style="font-size: 28px;">ショッピングサイト</a>
           			<span class="navbar-brand" style="font-size: 10px;">　ログイン中 ようこそ、<span sec:authentication="principal.account.name">duke</span> さん！</span>
       			</div>
       		
       			<div id="gnavi" class="collapse navbar-collapse">
       				<ul class="nav navbar-nav">
           				<li class="active">
           					<form class="navbar-form" th:action="@{/shopping/cart}" method="get">
           					<input type="submit" class="btn btn-default btn-xl" value="カート">
           					</form>
           				</li>
           				<li>
      						<form class="navbar-form" th:action="@{/logout}" method="post">
               				<input type="submit" class="btn btn-danger btn-xl" value="ログアウト">
           					</form>
           				</li>
       				</ul>
       			</div>
       		
   			</nav>
   		<!-- ヘッダー部(navbar)終了 -->
   		</div>


		<!-- メインカラム開始 -->
		<div class="row" style="padding:70px 0 0 0">
		
			<div class="col-md-3">
				<!-- パネルで囲む -->
				<div class="panel panel-default">
					<div class="panel-heading">カテゴリから探す</div>
                
                	<!-- パネルの中身 -->
    				<ul class="nav nav-pills nav-stacked">
    					<li class="active">
      						<form class="navbar-form" th:action="@{/shopping/goToTop}" method="get">
      						<span>　<i class="glyphicon glyphicon-export"></i>　　</span>
          					<input type="submit" class="btn btn-default btn-xl" value="TOP">
           					</form>
           				</li>
      					<li>
      						<form class="navbar-form" th:action="@{/shopping/book}" method="get">
      						<span>　<i class="glyphicon glyphicon-book"></i>　　</span>
          					<input type="submit" class="btn btn-success btn-xl" value="本">
           					</form>
           				</li>
           				<li>
           					<form class="navbar-form" th:action="@{/shopping/game}" method="get">
							<span>　<i class="glyphicon glyphicon-plus-sign"></i>　　</span>
							<input type="submit" class="btn btn-info btn-xl" value="ゲーム">
   							</form>
   						</li>
           				<li>
           					<form class="navbar-form" th:action="@{/shopping/kaden}" method="get">
          					<span>　<i class="glyphicon glyphicon-off"></i>　　</span>
          					<input type="submit" class="btn btn-warning btn-xl" value="家電">
   							</form>
   						</li>
       					<li>
       						<form class="navbar-form" th:action="@{/shopping/food}" method="get">
           					<span>　<i class="glyphicon glyphicon-cutlery"></i>　　</span>
           					<input type="submit" class="btn btn-danger btn-xl" value="食品">
       						</form>
       					</li>
       				</ul>
       				
       			<!-- パネル終了 -->
       			</div>
       		</div>
		
			<!-- メイン開始 -->
			<div id="contents" class="col-md-9">
				<div class="page-header" style="margin-top:-15px;padding-bottom:0px;">
					<h1><small>商品一覧</small></h1>
				</div>
				
				<div class="row">
				
					<!-- 商品表示 -->
					<div th:each="product:${products}">
                		<div class="col-md-4">
                    		<div class="thumbnail" style="text-align:center;padding-top:10px;">
                        		<a href="">
                            		<img src="http://localhost:8080/img/sample.jpg">
                        		</a>
                       			<div class="caption">
                            		<p><b th:text="${product.name}"></b></p>
                           			<p>￥<span th:text="${product.price}"></span></p>
                           			<p th:text="${product.maker}"></p>
                            		<form th:action="@{/shopping/cart}" method="post" style="margin-bottom:0px">
                            			<input type="submit" value="カートに入れる" class="btn btn-primary">
                            			<input type="hidden" name="id" th:value="${product.id}">
                            		</form>
                        		</div>
                    		</div>
                    	</div>
                   	<!-- 商品表示終了 -->
                	</div>
                
				</div>

			<!-- メイン終了 -->
			</div>
			
			<!-- Pagination -->
			<div class="text-center">
				<div th:fragment='paginationbar'>
      				<ul class="pagination justify-content-center">
        				<li class="page-item" th:class="${page.first} ? 'disabled':''">
            				<span th:if="${page.first}">←先頭</span>
                    		<a class="page-link" th:if="${not page.first}" th:href="@{${url}(page=0)}">←先頭</a>
        				</li>
        				<li class="page-item" th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : ''">
                    		<span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
                    		<a class="page-link" th:if='${i}!=${page.number}' th:href="@{${url}(page=${i})}">
                        		<span th:text='${i+1}'>1</span>
                    		</a>
                		</li>
                		<li class="page-item" th:class="${page.last} ? 'disabled':''">
                    		<span th:if="${page.last}">末尾➝</span>
                    		<a class="page-link" th:if="${not page.last}" th:href="@{${url}(page=(${page.totalPages}-1))}">末尾➝</a>
                		</li>
      				</ul>
      			</div>
      		</div>

		<!-- メインカラム終了 -->
		</div>
	
	<!-- コンテナ終了 -->
	</div>

	<hr class="clear">
	<!-- footer -->
	<div id="footer" class="text-center">copy left everything free.</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        
</body>
</html>